/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.top {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  padding: 180px 0 100px 0;
}

.container {
  width: 1170px;
  text-align: center;
  margin: auto;
}

.top-title {
  font-size: 45px;
  letter-spacing: 5px;
  color: white;
  opacity: 0.7;
}

.top-sentence {
  margin-bottom: 30px;
  color: white;
  opacity: 0.7;
}

.top-btn p {
  margin: 15px 0;
  color: white;
}

.top-btn span {
  margin-right: 5px;
}

.btn {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  margin-right: 10px;
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}