<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="css/style.css"> <!--publicを起点としたパスを指定してcssを読み込む-->
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">買い物リストアプリ</h2>
        <h1 class="title">LIST APP</h1>
        <p class="description">
          LIST APPは、買い物をリストアップするサービスです。
          <br>
          買いたいものをリストに追加してみましょう。
        </p>
        <a class="index-button" href="/index">一覧を見る</a> <!--リンクボタン（遷移するURLを指定する）-->
      </div>
      <div class="top-image">
        <img src="images/top.jpg"> <!--public内のパスを指定して画像を読み込む-->
      </div>
    </div>
  </body>
</html>